@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #eee !important;
      color: #222 !important;
  }
}

body {
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .stacks-transform {
    transform: perspective(2500px) rotateX(20deg);
  }
}
.btn-categories .btn-sm {
  @apply text-xs py-0 border-transparent border-[3px] transition-all duration-150
}

.btn-categories .btn-sm:hover {
  @apply border border-[3px] border-[#2db6a1]
}

.btn-categories .btn:not(.btn-active) {
  @apply bg-transparent text-[#000]
} 

.btn-categories .btn-active {
  @apply bg-[#2db6a1] text-white
}
.btn-categories button:first-of-type {
  @apply rounded-l-lg
}

.btn-categories button:nth-last-of-type(2) {
  @apply rounded-r-lg
}
/* 
@keyframes point {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-point {
  animation: point 1s cubic-bezier(0, 0, 0.2, 1) infinite;
} */