@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-red-700;
}

.btn-group .btn {
  @apply text-xs py-0
}

.btn-group .btn:hover {
  @apply !text-white !bg-[#6dbc44]
}

.btn-group .btn:not(.btn-active){
  @apply bg-transparent text-[#000]
} 

.btn-group .btn-active {
  @apply bg-[#6dbc44]
}