@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #eee !important;
      color: #222 !important;
  }
}

body {
  overflow-x: hidden;
}

/* @media (min-width: 1024px) { */
  .stacks-transform {
    transform: perspective(2500px) rotateX(20deg);
  }
/* } */
.btn-categories .btn-sm {
  @apply text-xs py-0 border-transparent border-[3px] transition-all duration-150
}

.btn-categories .btn-sm:hover {
  @apply border border-[3px] border-[#2db6a1]
}

.btn-categories .btn:not(.btn-active) {
  @apply bg-transparent text-[#000]
} 

.btn-categories .btn-active {
  @apply bg-[#2db6a1] text-white
}
.btn-categories button:first-of-type {
  @apply rounded-l-lg
}

.btn-categories button:nth-last-of-type(2) {
  @apply rounded-r-lg
}
.tooltip button:not() {
  background-color: #f00;
  margin-top: 50px
}

/* flip card */



.flip-card {
  background-color: transparent;
  /* width: 502px;
  height: 325px; */
  perspective: 1400px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform ease-in-out .9s;
  transform-style: preserve-3d;
  /* shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
} */
/* 
.flip-card:hover {
  border-radius: .9rem;

} */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border-radius: 1.8rem; */
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
}

.card-transform {
  transform: perspective(2500px) rotateX(30deg);
}